extends ../layouts/main-layout.pug

block styles
    link(href="/css/style.css")

block content
    h1 Add Category
    hr
    form(action="/admin/add-category" method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        div.form-group
            label(for="name") Name
            input(type="text" name="name" placeholder="Name").form-control#name

        div.form-group
            label(for="description") Description
            input(type="text" name="description" placeholder="description").form-control#description

        button(type="submit").btn.btn-primary Submit

