extends ../layouts/main-layout.pug

block styles
    link(href="/css/style.css")

block content
    h1 Login
    hr
    form(action="/new-password" method="post")
        input(type="hidden" name="_csrf" value=`${csrfToken}`)
        input(type="hidden" name="userId" value=`${userId}`)
        input(type="hidden" name="passwordToken" value=`${passwordToken}`)

        div.form-group
            label(for="password") Password
            input(type="text" name="password" placeholder="Password").form-control#password

        button(type="submit").btn.btn-primary Submit
        a(href="/reset-password").btn.btn-link.p-0 Reset Password

