div(data-ride="carousel")#carouselExampleIndicators.carousel.slide
    ol.carousel-indicators
        li(data-target="#carouselExampleIndicators" data-slide-to="0").active
        li(data-target="#carouselExampleIndicators" data-slide-to="1")
        li(data-target="#carouselExampleIndicators" data-slide-to="2")
    
    .carousel-inner
        .carousel-item.active
                img(src="/img/img1.png" alt="First slide").d-block.w-100
        .carousel-item.active
            img(src="/img/img1.png" alt="First slide").d-block.w-100
        .carousel-item.active
            img(src="/img/img1.png" alt="First slide").d-block.w-100